<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_Registrar_Artista</servlet-name>
        <servlet-class>controlador.Servlet_Registrar_Artista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Registrar_Cancion</servlet-name>
        <servlet-class>controlador.Servlet_Registrar_Cancion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Registrar_Album</servlet-name>
        <servlet-class>controlador.Servlet_Registrar_Album</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Reportes</servlet-name>
        <servlet-class>controlador.Servlet_Reportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_Registrar_Ventas</servlet-name>
        <servlet-class>controlador.Servlet_Registrar_Ventas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_Registrar_Artista</servlet-name>
        <url-pattern>/Servlet_Registrar_Artista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Registrar_Cancion</servlet-name>
        <url-pattern>/Servlet_Registrar_Cancion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Registrar_Album</servlet-name>
        <url-pattern>/Servlet_Registrar_Album</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Reportes</servlet-name>
        <url-pattern>/Servlet_Reportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_Registrar_Ventas</servlet-name>
        <url-pattern>/Servlet_Registrar_Ventas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
